*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(211, 211, 211);
}
input:checked + label {
  font-weight: 700;
}

input {
  display: none;
}

.radio {
  padding-left: 15px;
  position: relative;
  cursor: pointer;
}

.radio::before {
  width: 12px;
  height: 12px;
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 2px;
  border-radius: 50px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.014);
}

.radio::after {
  width: 9px;
  height: 9px;
  content: "";
  background-color: coral;
  position: absolute;
  left: 1.5px;
  top: 3.5px;
  border-radius: 50px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.014);
  opacity: 0;
  transition: all 0.3s ease;
}

input:checked + .radio::after {
  opacity: 1;
}


.form-group {
  width: 100px;
  display: flex;
  position: relative;
}

input {
  display: none;
}

label {
  margin-bottom: 20px;
}

.checkbox::before {
  width: 40px;
  height: 20px;
  content: "";
  background-color: #fff;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 50px;
  transition: all 0.3s ease;
  border: 2px solid rgb(112, 112, 112);
  background-color: rgb(211, 211, 211);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.014);
}

.checkbox::after {
  width: 16px;
  height: 16px;
  content: "";
  background-color: #fff;
  position: absolute;
  right: 22px;
  top: 2px;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.014);
}

input:checked + .checkbox::after {
  right: 2px;
}

input:checked + .checkbox::before {
  background-color:#4CCA61;
}